@font-face {
  font-family: "PixelOperator";
  src: url(../public/PixelOperator8.ttf);
}

* {
  color: #ffffff;
}

#root {
  background-color: #0a0218;
  padding: 60px 120px;
}

#header-name {
  font-family: "PixelOperator";
  color: #a684ff;
  line-height: 1;
  letter-spacing: 0px;
  display: inline-block;
}
